# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Gradle
.gradle
gradle
build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
**/build/

# LetsTrust
keys/
*.db
data/
