# Intellij
.idea/
*.iml
*.iws
out

# Mac
.DS_Store

# Maven
log/
target/

# Gradle
.gradle
build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
**/build/
gradle.properties

# WaltID SSI-Kit
keys/
*.db
/data-20210719/
/docs/essif/*
*.log
data
logs

secret_maven_username.txt
secret_maven_password.txt

credential-store

revoked.json
