name: CI/CD Workflow for Walt.ID SSI-Kit

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  verify-wrapper:
    name: "Verification"
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Validate gradle wrapper
        uses: gradle/wrapper-validation-action@v1

  gradle:
    needs: verify-wrapper
    name: "Build"
    strategy:
      matrix:
        # os: [ubuntu-latest, macos-latest]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Setup java
      uses: actions/setup-java@v2.1.0
      with:
        distribution: 'adopt-hotspot'
        java-version: '16'
    - name: Running gradle build
      uses: eskatos/gradle-command-action@v1.3.3
      env:
        SECRET_MAVEN_USERNAME: ${{ secrets.SECRET_MAVEN_USERNAME }}
        SECRET_MAVEN_PASSWORD: ${{ secrets.SECRET_MAVEN_PASSWORD }}
      with:
        arguments: build --no-daemon
    - name: Docker Build and Push SNAPSHOT
      uses: philpotisk/github-action-docker-build-push@master
      env:
        DOCKER_USERNAME: ${{secrets.DOCKER_USERNAME}}
        DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
        DOCKER_FILE: Dockerfile
        CONTAINER_TAG: waltid/ssikit:latest
